// .amazon-btn {
//     display: inline-flex;
//     padding: 0.2em 0.2em;
//     background-color: #f0f0f0;
//     color: #333;
//     text-decoration: none;
//     border: 1px solid #ccc;
//     border-radius: 5px;
//     cursor: pointer;
// }

/* CSS */ // Kilde på CSS for button: https://getcssscan.com/css-buttons-examples
.button-54 {
    font-family: "Open Sans", sans-serif;
    font-size: .6rem;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
    border: 2px solid;
    padding: 0.25em 0.5em;
    margin-top: 0.3em;
    box-shadow: 1px 1px 0px 0px, 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -o-user-select: none; /* Opera */
    touch-action: manipulation;
  }
  
  .button-54:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }

  .button-54:hover {
    background-color: darkkhaki;
  }
  
  
  
  /* CSS */
  @media (min-width: 375px) {
  .button-50 {
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 0.3em 0.3em 0 0,#000 0.3em 0.3em 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 0.9em;
    font-weight: 400;
  //   line-height: 20px;
    margin: 0 0.3em 0.4em 0;
    overflow: visible;
    padding: 0.4em 0.5em;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -o-user-select: none; /* Opera */
    vertical-align: middle;
    white-space: nowrap;
  }
  
  .button-50:focus {
    text-decoration: none;
  }
  
  .button-50:hover {
    text-decoration: none;
    background-color: chartreuse;
  }
  
  .button-50:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .button-50:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  }
  
  @media (min-width: 812px) {
    .search-result-list-wrapper{
      display: grid;
      flex-direction: column;
  
    }
  
      .button-54 {
        padding: 0.25em 0.75em;
      }
    
      .button-50 {
        margin: 0 0.7rem 2rem 0;
        padding: 0.6em 1.5em;
       
      }
  }

  

