// NB! Alt dette er lånt fra denne kilden: https://uiverse.io/gagan-gv/rotten-fish-89 , kun for moro skyld: 

// $colorBorders: #d4af37;
// $colorBorders: #d4af37;
// $colorBordersHover: #28282d;

// $bgFirst:#28282d;
// $bgHover:#d4af37;

// $colorTextFirst: #d4af37;
// $colorTextHover: #28282d;


$colorBorders: #212121;
$colorBordersHover: rgb(12, 29, 97);

$bgFirst: #e8e8e8;
$bgHover:#0f57cad6;

$colorTextFirst: #d44437d3;
$colorTextHover: #f0ececf9;

.btn {
    display: block;
    padding: 0.7em 1em;
    background: $bgFirst;
    outline: none;
    border: 0;
    color: $colorTextFirst;
    letter-spacing: 0.1em;
    // font-family: monospace;
    font-size: 0.5em;
    font-weight: bold;
    cursor: pointer;
    z-index: 1;
  }
  
  .cube {
    position: relative;
    transition: all 0.5s;
  }
  
  .cube .bg-top {
    position: absolute;
    height: 10px;
    background: $colorBorders;
    bottom: 100%;
    left: 5px;
    right: -5px;
    transform: skew(-45deg, 0);
    margin: 0;
    transition: all 0.4s;
  }
  
  .cube .bg-top .bg-inner {
    bottom: 0;
  }
  
  .cube .bg {
    position: absolute;
    left: 0;
    bottom: 0;
    top: 0;
    right: 0;
    background: $colorBorders;
    transition: all 0.4s;
  }
  
  .cube .bg-right {
    position: absolute;
    background: $colorBorders;
    top: -5px;
    z-index: 0;
    bottom: 5px;
    width: 10px;
    left: 100%;
    transform: skew(0, -45deg);
    transition: all 0.4s;
  }
  
  .cube .bg-right .bg-inner {
    left: 0;
  }
  
  .cube .bg-inner {
    background: $bgFirst;
    position: absolute;
    left: 2px;
    right: 2px;
    top: 2px;
    bottom: 2px;
  }
  
  .cube .text {
    position: relative;
    transition: all 0.4s;
  }
  
  .cube:hover .bg-inner {
    background: $bgHover;
    transition: all 0.4s;
  }
  
  .cube:hover .text {
    color: $colorTextHover;
    transition: all 0.4s;
  }
  
  .cube:hover .bg-right,
  .cube:hover .bg,
  .cube:hover .bg-top {
    background: $colorBordersHover;
  }
  
  .cube:active {
    z-index: 9999;
    animation: bounce 0.1s linear;
  }
  
  @keyframes bounce {
    50% {
      transform: scale(0.9);
    }
  }
  