
.search-bar {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
}

.search-result-bar {
  text-transform: italic;
  padding-bottom: 5px;
  border-bottom: #000 solid 2px;
}

// .category-list{
//     list-style: none;
//     display: flex;
//     flex-wrap: wrap;
//     gap: 1rem;

//     li{
//         a{
//             padding: .5rem;
//             border: 1px solid;

//             &:hover{
//                 background-color: #000;
//                 color: #fff;
//             }
//         }
//     }
// }



