$colorBorders: #212121;
$colorBordersHover: rgb(12, 29, 97);

$bgFirst: #e8e8e8;
$bgHover:#0f57cad6;

$colorTextFirst: #d44437d3;
$colorTextHover: #f0ececf9;



$colorNude: #ede2dd;

#root{
    min-height: 900px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
header{
    nav{
        ul{
            list-style: none;
            display: flex;
            gap: 1rem;
            padding: 1em;
            margin: 0;
        }
    }
}



footer {
    padding-top: 1em;
    padding-bottom: 0.1em;
}
