@import 'layout';
@import 'designelements';
@import 'postpage';
@import 'buttoncube';
@import 'buttons';
@import 'input';
@import 'bookcard-view';
@import 'bookshelf';
@import 'searchresults';



$colorBlue: #8bc2e6;
$colorEggshellLight: #e8e8e8;
$colorEggshellDark: #212121;

$color1: #8e94f2;
$color2: #8E4A49;
$color3: #F18F01;
$color4: #8e94f2;
$color5: #C81D25;
$color6: #FFAE03;
$color7: #C81D25;
$color8: #d31305;
$color9: #2B59C3;
$color10: #253C78;
$color11: #FFEECF;
$color12: #C9A690;
$color13:#337357;



body{
    background-color: $colorEggshellLight;
    list-style: none;


.status-box{
    display: inline-block;
    height: 30px;
    width: 30px;
}    
.Alive{
    background-color: green;
}

.Dead{
    background-color: red;
}

}