@import 'layout';
@import 'designelements';
@import 'postpage';
@import 'button';
@import 'input';

$colorBlue: #8bc2e6;
$colorEggshellLight: #e8e8e8;
$colorEggshellDark: #212121;




body{
    background-color: $colorEggshellLight;
    list-style: none;


.status-box{
    display: inline-block;
    height: 30px;
    width: 30px;
}    
.Alive{
    background-color: green;
}

.Dead{
    background-color: red;
}

}