.book-item-wrapper{
    display: flex;
    flex-direction: column;
    padding: 1em;
  }

.book-card {
    margin-bottom: 0.3em;
    margin: 1em;
}

.book-cover img{
    border: solid 5px #000;
}

// .book-description{

// }
@media only screen and (max-width: 760px) {
    .book-item-wrapper{
        padding: 0.5rem;
    }
}

@media only screen and (min-width: 768px) {
    .book-item-wrapper{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid */
        gap: 10px; 
        align-items: baseline; /* Ikke fjern denne, justere hvert kort slik at hver overskirft i book-card blir horisontal med andre book-cards */
        //kilde: https://getcssscan.com/css-box-shadow-examples nr #62
        box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
    }
    

    .book-card{
        display: flex;
        flex-direction: column;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        align-items: stretch;
        padding-bottom: 1em;
     
    }

    .book-card:hover{

    }

    .book-card > .book-cover{
        align-items: baseline;
    }

    .book-card section {
        justify-content: space-around;
        align-items:flex-end;
    }

    .book-cover{
        max-width: 100%;
        height: auto;
        border-radius: 5px;
    }

    .book-properties{
        margin-top: 10px;
        font-size: 14px;
    }

    .book-redirect{
        display: flex;
        margin-top:10px;
        justify-content: center;

    }
}
