
// .container {  display: grid;
//     grid-template-columns: 1fr;
//     // grid-template-rows: repeat(auto-fill, minmax(100px, 1fr)); /* Responsive grid */

//     grid-template-rows: 1.5fr 3.1fr;
//     // gap: 70px 0px;
//     row-gap: 50px;
//     margin: 20px;
//     grid-auto-flow: column;
//     grid-template-areas:
      
//       "bookshelf"
//       "library";
//   }
  
//   .card { grid-area: card; }
  
//   .bookshelf { grid-area: bookshelf; }
  
//   .library { grid-area: library; }
  